@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


/* para padronizar todos os navegadores */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style-position: inside;
}
 
.nav-toggle {
  display: block;
  padding: 10px 10px 15px 10px;
  background: #62c2e7;
  position: fixed;
  top: 100px;
  left: 1056px;
  z-index: 50;
}
.hamburger {
  width: 1.08em;
  position: relative;
  display: inline-block;
  height: 0.6em;
  font-size: 1.2em;
  background: #62c2e7;
}
.hamburger span {
  width: 100%;
  background: #fff;
  display: block;
  position: absolute;
  left: 0px;
  height: 0.185em;
  border-radius: 1.2px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2) {
  top: 0.36em;
}
.hamburger span:nth-child(3) {
  top: 0.73em;
}
.sidebar {
  width: 20%;
  height: 100%;
  position: fixed;
  background: #fff;
  top: 0px;
  left: 0px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
}
#navicon {
  display: none;
}
#navicon:checked ~ .sidebar {
  visibility: visible;
  opacity: 1;
}
#navicon:checked ~ .nav-toggle > .hamburger span {
  top: 0.36em;
}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(1) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
#pag1 {
	height: 869px;
	background: #64c3e7;
}
.logo {
	margin-left: 175px;
}

.phone {
	margin-left: 220px;
	position: absolute;
	margin-top: 330px;
}
h1{
		font-family: 'Dancing Script', cursive;
		font-size: 70pt;
		color:#fff;
		padding-left: 830px;
		margin-top: 80px;
	}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
	color:#fff;
	padding-left: 350px;
	margin-top: 20px;
}

.down {
	margin-left: 800px;
}


#pag2 {
	height: 869px;
	background: #f4f4f4;
	position: relative;
	margin-top: -150px;

}

h2 {
	margin-top: 120px;
	position: absolute;
	padding-left: 175px;
	font-family: 'Montserrat', sans-serif;
	font-size: 40pt;
	color: #545454;
}

h5 {
	margin-top: 210px;
	position: absolute;
	padding-left: 175px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15pt;
    color: #545454;
}

.barra {
	margin-top: 263px;
	position: absolute;
	content: after;
	margin-left: 175px;
}

h6 {
	margin-top: 260px;
	position: absolute;
	padding-left: 195px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15pt;
    color: #545454;
}

.mail {
margin-top:400px;
padding-left: 175px;
}

.ipad {
	margin-left: 1028px;
	margin-top:  -345px;

}

#pag3 {

	height: 869px;
	background: #fff;
	position: relative;
	margin-top: -280px;
}

h3 {
	margin-top: 200px;
	position: absolute;
	padding-left: 495px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15pt;
	color: #545454;
}

h4 {
	margin-top: 120px;
	position: absolute;
	padding-left: 700px;
	font-family: 'Montserrat', sans-serif;
	font-size: 25pt;
	color: #545454;
}

.tec {
	margin-top: 380px;
	position: absolute;

}

.botao {
	margin-top: 390px;
	position: absolute;
	margin-left: 490px;
}

#pag4 {
	height: 434px;
	background-color: #13c4af;
	position: relative;
	margin-top: -240px;

}
.like h3 {
	text-align: center;
	color: #fff;
	font-size: 40pt;
}
.botaobuy {
	margin-left: 670px;
	margin-top: 260px;
	position: absolute;
}

#pag5 {
	
	height: 650px;
	background-color: #f4f4f4;
	position: relative;
}

#pag5  li   {
 
 display: inline-block;
 position: relative;
}

#pag5 ul{
	text-align: center;
	margin-top: 242px;
	position: absolute;
	margin-left: 465px;
}

#pag5 p{
	margin-left: 90px;
	margin-top: 383px;
	position: absolute;
	color: #868686;
	font-size: 16px;
}

#pag5 form {
	text-align: center;
	margin-top: 383px;
	position: absolute;
	margin-left: 665px;
}

	form .actions {
		margin-bottom: 0;
	}

	form label {
		display: block;
	}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form .select,
form textarea {
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	box-shadow: inset 0 0 0 1px #e6e6e6;
	background: #f8f8f8;
	width: 100%;
	padding: 0.85em 1em 0.85em 1em;
	border-radius: 0.25em;
	border: 0;
}

		
	}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
line-height: 1.25em;
}

form textarea {
min-height: 13em;
}

form select {
position: relative;
}

form select option:not(:checked) {
color: #000;
}
form .select {
position: relative;
padding: 0;
overflow-x: hidden;
outline: 0;
}

form .select select {
			width: calc(100% + 2em);
			background: none !important;
			box-shadow: none !important;
			border: 0 !important;
			cursor: pointer;
		}

			form .select select::-moz-focus-inner {
				border: 0;
				outline: 0;
			}

		form .select:before {
			content: '';
			position: absolute;
			top: 15%;
			right: 1em;
			width: 1.25em;
			height: 75%;
			background: url("images/arrow.svg") center center no-repeat;
			background-size: contain;
			z-index: 0;
		}

		form .select select::-ms-expand {
			display: none;
		}

	form ::-moz-focus-inner {
		border: 0;
	}

	form .formerize-placeholder {
		color: #555 !important;
	}

	form ::-webkit-input-placeholder {
		color: #aaa !important;
	}

	form :-moz-placeholder {
		color: #555 !important;
	}

	form ::-moz-placeholder {
		color: #555 !important;
	}

	form :-ms-input-placeholder {
		color: #555 !important;
	}


		}

	}

#footer  {
			height: 100px;
			background-color: #000;
			text-align: center;
}	



  @media screen and (max-width: 980px) {
  	#pag1 {
  		width: 65%;
}
  		#pag2 {
  		width: 65%;
  	}
  	#pag3 {
  		width: 65%;
  	}
  	#pag4 {
  		width: 65%;
  	}
  	#pag5{
  		width: 65%;
  	}
		  }

@media screen and (max-width: 700px) {

	#pag1 {
  		width: auto;


}

	#pag2 {
  		width: auto;
  	}
  	#pag3 {
  		width: auto;
  	}
  	#pag4 {
  		width: auto;
  	}
  	#pag5{
  		width: auto;
  	}
		  }

@media screen and (max-width: 480px) {

	#pag1 {
  		width: auto;
}
  	.logo {
  		width: auto;
  	}
  		#pag2 {
  		width: auto;
  	}
  	#pag3 {
  		width: auto;
  	}
  	#pag4 {
  		width: auto;
  	}
  	#pag5{
  		width: auto;
  	}

  	.ipad{
  		width: auto;
 	
 }
		  }		  

